/* 
 * Index (Home Page) CSS
 * Written by James Farmer
 */

/* Main */
h1 {
    padding: 90px 0 50px 0;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
}

.video-div {
    text-align: center;
}

.video-div iframe {
    border: none;
    border-radius: 15px;
    margin: 0 0 20px 0;
}

/* Footer */

#footer-line {
    background-color: black;
    height: 1px;
    margin: 0 50px 0 50px;
}